<?xml version="1.0"?>

<config>
    <modules>
        <Eataly_ETPhoneHome>
            <version>1.0.0</version>
        </Eataly_ETPhoneHome>
    </modules>
    <global>
        <models>
            <eataly_etphonehome>
                <class>Eataly_ETPhoneHome_Model</class>
            </eataly_etphonehome>
        </models>
        <helpers>
            <eataly_etphonehome>
                <class>Eataly_ETPhoneHome_Helper</class>
            </eataly_etphonehome>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_noroute>
                <observers>
                    <eataly_etphonehome>
                        <class>Eataly_ETPhoneHome_Model_Observer</class>
                        <method>onNoRoute</method>
                    </eataly_etphonehome>
                </observers>
            </controller_action_noroute>
        </events>
        <routers>

            <eataly_etphonehome>
                <use>standard</use>
                <args>
                    <module>Eataly_ETPhoneHome</module>
                    <frontName>eataly_etphonehome</frontName>
                </args>
            </eataly_etphonehome>
        </routers>
    </frontend>
    <default>
        <web>
            <routers>
                <eataly_etphonehome>
                    <class>Eataly_ETPhoneHome_Controller_Router</class>
                </eataly_etphonehome>
            </routers>
        </web>
    </default>
</config>
